.logo{
    font-weight: 200;
  
    position: relative;
    font-weight: 200;
    color: rgb(8, 8, 8);
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    background: none;
    font-family: 'Cinzel Decorative', cursive;
   
}
.nav-links li{
    text-decoration: none !important;
    display: inline-block;
    font-weight: 500;
    padding: 40px 70px;
    color: black;

}
.nav-links li :hover{
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    margin-top: 0px;
    visibility: visible;
    opacity: 1;
}
NavLink{
    padding: 20px 10px;
}
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700&display=swap');
:root{
  --sidebar-flex:1.5;
  --condiv-flex:6;
  --fontsize-p:1.2rem;
  --fontsize-nav:1.6rem;
  --typing-font:3rem;
}
*
{
  margin:0;
  padding: 0;
  font-family: 'Cinzel Decorative', cursive;
}
body{
  font-family: 'Raleway';
}
.App
{
  display: flex;
  width: 100vw;
  min-height: 100vh;
}
nav
{
  padding:20px 30px 0px 30px ;
  flex:var(--sidebar-flex);
  background: none;
}
.condiv
{
  padding: 100px ;
 
  flex:var(--condiv-flex);

}
.conbc{
  background-color: rgb(125, 123, 122);
  width: 210px;
  height: 210px;
  position: absolute;
  right: 99%;
  bottom: 48%;
}
.con1{
  position: absolute;
  width: 190px;
  right: 100%;


}
.con{
  position: absolute;
  width: 50px;
  right: 60%;


}
.home
{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}
.profilepic
{ 
width: 200px;
padding: 30px;
padding-right: 30px;
padding-left: 30px;
padding-top: 30px;
padding-bottom: 30px; 
 
}
.profilepic2
{
  
  width: 200px;
  padding-right: 0;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px; 

}

.profilepic3
{
    width: 40px;
position: absolute;
bottom: 3px;
top: 1px;


}
/*
.profilepic4
{
    width: 100px;
position: absolute;
left: 100px;
top: 100px;


}
*/
.profilepic5
{
    width: 100px;
    position: absolute;
 right: -39px;
 bottom: -37px;

  
   

}

.con2{
    bottom: 10%;

    position: relative;
    display: inline-block;
 width: 34%;
 align-items: center;
left: 50%;
background-color: antiquewhite;



}
.Typewriter
{
 /* font-size: var(--typing-font);*/
  margin-bottom: 30px;
  font-size: 30px;
  color: #000000;
  text-align: center;
  margin-left: 0px;
  width: 400px;
  height: 50px;
  background-color: antiquewhite;
  margin-top: 100px;
  padding-top: 30px;
  padding-bottom: 10px;
  margin-left: 100px;
  font-family: 'Cinzel Decorative', cursive;
  
}

.bgimage{
    height: 100vh;
   /* background: url('/src/img/Light\ Yellow\ Colored\ Experimental\ Design\ -\ Graphic\ Design\ Art\ and\ Design\ Online\ Portfolio.png');*/
    background-size:cover;
    position:relative;
    display: inline-block;
    width: 100%;
  }

nav ul{
  font-size:var(--fontsize-nav) ;
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  color: white !important;
  background: none;
}
nav ul li
{
  margin:40px;
}

a
{
  text-decoration: none;
  color: white;
  font-family: 'Cinzel Decorative', cursive;
}

.subtopic
{
  margin:10px 10px 30px 10px !important;
}
p{
  font-size: var(--fontsize-p);
}
h1,h2,h3,h4,p{
  margin: 10px;
}
.social
{
  position: absolute;
  margin-top: 100px;
  display: flex;
  bottom: 170px;
  margin-left: 40px;
}
.social i
{
  padding-right: 30px;
  font-size: 25px;
  color: #4e504e;

}
.social i:hover
{
  
  color: #e8d7a8;

}
.widecard
{
  border:0px solid #9a9b9c;
  display: flex;
  margin:30px 0px 30px 0px;
}
.widecard:hover
{
  color: #1b1d20;
  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.active
{
  font-weight: bolder;
}
.skills ul li
{
  list-style-type:none;
  margin:30px;
}
.profilepic6
{
    width: 250px;
  position: absolute;
  left: 60px;
  top: 50px;

  
   

}
.back{
    position: absolute;
    color: #e8d7a8;
    background-color: antiquewhite;
    width: 260px;
    height: 360px;
    left: 70px;
    margin-top: 100px;
   
}
.condiv{
    width: 50%;
    position: absolute;
    left: 30%;
    height: 50%;
}
.profilepic8
{
    width: 130px;
    position: absolute;
     left: -40px;
     top: -30px;

  
   

}

@media all and (max-width: 450px) {
  :root {
    --fontsize-nav:1rem;
    --sidebar-flex:0;
    --typing-font:2rem;
  }
  .App
  {
    flex-direction: column;
  }
  .sidebar
  {
    padding: 30px;
  }
  .condiv
  {
    padding: 50px ;
  }
  nav ul
  {
    display: flex;
  }
  nav ul li
  {
    margin: 10px;
  }
  .social
  {
    left:0;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    bottom: 30px;
  }
  .social i
  {
    padding-right: 0px;
  }
  
  .hero_title{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
  }
}

/*education*/
.edu
{
    width: 120px;
    position: absolute;

    right: 90%;
    bottom: 78%;


   

}
.edu22
{
    width: 200px;
position: absolute;
right: 100%;
bottom: 25%;
}
.bcedu
{
    width: 190px;
    height: 90px;
position: absolute;
right: 100%;
color: #9a9b9c;
background-color: antiquewhite;
width: 200px;
height: 300px;
bottom: 40%;
right: 95%;
display: none;
}
/*skills*/
.skilldiv{
  width: 500px;
  margin: 40px;
}
.skillp{
  width: 500px;
  margin: 40px;
  position: absolute;
  padding: 10px;
  background-color: ghostwhite;
 
 
}
.skilld{
display: flex;
margin: 60px;
}
.bcskill{
  background-color: antiquewhite;
  width: 550px;
  margin-left: 19px;
 
}
.ski
{
    width: 120px;
    position: absolute;

    right: 57%;
    bottom: 68%;


   

}
.skillsocial{
position: absolute;
  margin: 40px;
 bottom: -150px;
}
/*media quary*/
/*mobile screen*/
@media screen and (max-width: 767px) { 
 /*home page */
 .nav-links li{

  font-weight: 50;
 /* padding: 40px 70px;*/

}
.nav-links{
  width: 200px;
}
}